/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box; /*default border box*/
    }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

body {
  font-family: 'Poiret One', cursive;
  background-color: teal;
  color: black;
}

/*------------Utility Class----------------- */
img{
  max-width: 100%;
}

.container{
  margin: auto;
  padding: 25px;
}

.img-right{
  float: right;
  border: 2px solid #FF0BAB;
  padding: 5px;
  border-radius: 20px 0;
  max-width: calc(50% - 20px);
  margin: 20px 0 20px 20px;
}

/*

-- Longform--
margin-top: 40px;
margin-right: 40px;
margin-bottom: 40px;
margin-left: 40px;

-- Shorthand ---
margin:40px;

-- Longform --
margin-top: 40px;
margin-right: 10px;
margin-bottom: 30px;
margin-left: 15px;

margin:40px 10px 30px 15px;


-- Two Value Shorthand Top/Bottom | Left/Right --
margin: 40px auto;

space in the inside = padding
space on the outside = margin 

*/

main {
  background-color: white;
  width: 80vw;
  max-width: 1140px;
  margin:40px auto; /*center block element*/
  border: 2px solid wheat;
  border-radius: 4px; /*corners of the box" */
}

header.primary {
  background-color: pink;
  padding:20px;
  background-image: url(../img/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

header.primary .hgroup{
  width: 60%;
}

header.primary nav {
  width: 20%;
}

.hrgroup h1, .hrgroup h2 {
  margin: 0;
}

.hgroup h1 a{
  color: white;
  text-shadow: 2px 1px wheat;
  font-size: 2.5rem;
  text-decoration: none;
  text-align: center;
}

.hgroup h2 {
  color: white;
  text-shadow: 2px 1px wheat;
  font-size: 1.8rem;
}

header.primary nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

header.primary nav ul a{
  display: block;
  background-color: wheat;
  color: aliceblue;
  text-shadow:2px 2px teal;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px 0;
  border-right: 10px solid white;
  text-decoration: none;
  text-align: right;
  transition: .75s;
}

header.primary nav a:hover {
  background-color: #FF0BAB;
  text-decoration: underline;
}

#content {
  line-height: 1.8; /*line spacing */
}


#content h2, h3{
  color: black;
  border-left: 7.5px solid #FF0BAB;
  padding: 5px 7.5px;
  border-radius: 15px 0;
}

#blog{
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(16,77,115,1) 100%);
  padding: 20px 0;
  border-top: 6px double #0a96A6;
}

#blog > h2{
  color: #ffffff;
  text-shadow: 2px 2px #000;
  font-size: 2.2rem;
  margin-left: 20px;

}

#blog article.post{
  background: #fff;
  margin: 20px;
  padding: 20px;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "figure header"
    "figure post-content"
    "figure footer";
  grid-gap: 20px;
}

#blog figure{
  margin: 0;
  grid-area: figure;
}

#blog header{
  grid-area: header;

}

#blog .post-content{
  grid-area: post-content;
}

#blog footer{
  grid-area: footer;
}

aside .container{
  display:flex;
}

aside article.widget{
  flex:0 0 50%;
}

aside .widget:first-of-type{
  border-right: 1px dotted wheat;
  padding-right: 40px;


}

aside .widget:last-of-type{
  padding-left: 40px;
  

}